@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');

*{
    box-sizing: border-box;
}


.row{
    display: flex;
}
/* .container{
    max-width: 90%;
    margin: 0 auto;
} */

.img-hero{
    max-width: 100%;
    height: auto;
}
/* .hero-main{
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
} */
.hero-heder{
    font-family: 'Magra',sans-serif;
    font-style: normal;
    color: #2C96BA;
}
.hero-para{
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    color: rgba(0, 0, 0, 0.6);
}
.btn-order{
    background: #2C96BA;
border-radius: 31px;
color: #FFFFFF;
}
